.banner {
  :global(.ban-dot.slick-dots) {
    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: color("white");
      &:global(.slick-active) {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: color("primary");
        button {
          opacity: 0;
        }
      }
    }
  }
  .banner {
    min-width: 375px;
    height: 140px;
    .ban-tip {
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 5px;
    }
  }
}

.recommend {
  .mark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: -20px 0;
    .msg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 28px;
      line-height: 28px;
      background-position: 0 -537px;
    }
  }
}
